*{
    margin: 0;
    padding: 0;
}

body{ 
    font-family: 'Ubuntu', sans-serif;
    background-color: #414142;
}
.bgHome{
    background-image: url("first.jpg");
    /*  Foto: Simon Hastegård / Bildbyrån */
     
    background-repeat: no-repeat;
    background-size: cover; 
}
.header{
    padding: 30px;
    /* background-color: grey; */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    
}
.navbar{
    font-size: 25px;
    margin-left: 30px; 
}
.navbar ul li{
    display: inline;
    padding: 20px;
    margin: 0 10px;
    
}
a{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
}
a:hover{
     color: #aaaaac;
     
}
.hambar{
   display: none; 
}

@media only screen and (max-width: 766px){
    .bgHome{
        background-image: url("second.jpg");

    }
    .navbar{
        display: none;
    }
    .hambar{
        position: relative;
        display: inline-block; 
    }
    .hambar i{
        color:white;  
    }
    .hambarCont{
        display: none;
        position: absolute;
        background-color: #ddd9d9;
        min-width: 160px; 
        margin-left: 10px; 
        height: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        
    }
    .header{
        padding: 4px 8px;   
    }
    .dropbtn {
        background-color: rgba(79, 79, 80, 0);
        color: white;
        font-size: 16px;
        border: none;
        cursor: pointer;
        margin-left:10px;
        padding: 5px;
    }
    .hambarCont a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .hambarCont a:hover {
        color: rgb(255,255,255);
        background-color: rgb(79, 79, 80);
    }

    .show {
        display:block;
    }
    .mainTextContainer{
        justify-content: center; 
    }
}
/* =========================================================== TOPMENU AND HAMBURGER =================================================================== */

main{
    height: 720px;
}
.mainTextContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-end;
}

.mainText{
    color:white;
    margin-top: 180px;
    height: auto;
    /* width: 500px; */
    width: 30%;
    text-align: center;
    padding: 30px;
    user-select: none;
    animation: fadeIn 3s linear;
}
@keyframes fadeIn{
    from {
        opacity : 0;
        }
    to {
        opacity : 1;
        }
}
@keyframes animate{
    0%{
        box-shadow: 0 0 0 0 rgba(64, 76, 90, 0.6);
    }
    30%{
        box-shadow: 0 0 0 50px rgba(30, 34, 39,0);
    }
    65%{
        box-shadow: 0 0 0 50px rgba(30, 34, 39,0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(30, 34, 39,0);
    }
}
.rub{
    color:white;
    
}
.klickadd{
    animation: animate 2s linear;
}
.mainText h1{
    border-radius: 50%;
    font-size: 70px;
}

.mainText p{
    margin-top: 30px;
    font-size: 40px;
}
.lowerContainer{
    background-color: #414142;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
}
.lower{
    color:white;
    padding: 60px;  
}



